{% extends "base.html" %}

{% block content %}

<body class="relative">
    <div class="text-left">
        <a href="/" class="link flex items-center">
            <span aria-hidden="true">&larr;</span>
            Back
        </a>
        <h1 class="text-2xl font-bold">Live Video Feed</h1>
        <img src="{{ url_for('video_capture') }}" width="640" height="480">
    </div>
    <div class="absolute bottom-0 right-0 p-12">
        <ul id="results-list" class="list bg-base-100 rounded-box shadow-md">
            <!-- Results will be populated here -->
        </ul>
    </div>
    <script type="module">
        import { onResult } from "{{ url_for('static', filename='js/app.js') }}";
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('result', onResult);
    </script>
</body>
{% endblock %}